@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;font-weight: 500;
    font-style: normal;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: cneter;
    background: linear-gradient(45deg, #fce4ec, #e91e63);
    flex-direction: column;
}

h1 {
    color: #880e4f;
    margin-bottom: 25px;
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.calculator {
    border: 1px solid #ff4081;
    padding: 20px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 3px 15px rgba(255,64,129,0.5);
}

.screen-wrapper {
    position: relative;
    width: 320px;
    margin: 10px;
}

.screen-wrapper::before,
.screen-wrapper::after {
    content: "🎀";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    z-index: 2;
}

.screen-wrapper::before {
    left: 20px;
}

.screen-wrapper::after {
    right: 20px;
}

input {
    width: 100%;
    border: none;
    padding: 24px 60px;
    background: #f8bbd0;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #4a0033;
    border-radius: 10px;
}

input::placeholder{
    color: #880e4f;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: #ffffff;
    color: #d81b60;
    font-size: 20px;
    box-shadow: 0px 0px 10px rgba(255, 64, 129, 0.4); 
    cursor: pointer;
    transition: all 0.2s ease;
}

button:active {
    transform: scale(0.95);
}

.equalBtn {
    background-color: #ff80ab;
    color: white;
}

.operator {
    color: #d81b60;
    background: #f8bbd0;
}

.extra {
    color: #d81b60;
    background: #f8bbd0;
}